@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// * Color Variables
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

// * Font Variables
$kumbh-sans-font: "Kumbh Sans", sans-serif;
$regular-fontweight: 400;
$bold-fontweight: 700;

// * Global Styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: $kumbh-sans-font;
}

// * Main Styling
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg") $dark-cyan;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: top calc(-100vh / 2) right calc(100vw / 2),
    bottom calc(-100vh / 2) left calc(100vw / 2);
}

// * Card Styling
.card {
  margin: 146px 24px;
  max-width: 326px;
  border-radius: 14px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 30px 40px -10px rgba(0, 0, 0, 0.25);

  &__bg-img-container {
    height: auto;
    max-width: 100%;
    background-image: url("../images/bg-pattern-card.svg");
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__bg-img {
    height: inherit;
    max-width: inherit;
    visibility: hidden;
  }

  &__profile-pic {
    display: block;
    margin: auto;
    margin-top: -53px;
    border-radius: 50%;
    border: 5px solid #fff;
  }

  &__profile-name {
    margin-top: 18px;
    margin-bottom: 8px;
    color: $very-dark-desaturated-blue;
    font-size: 18px;
    font-weight: $bold-fontweight;
  }

  &__user-age {
    margin-left: 10px;
    color: $dark-grayish-blue;
    font-weight: $regular-fontweight;
  }

  &__user-location {
    padding-bottom: 25px;
    border-bottom: 1px solid $dark-gray;
    color: $dark-gray;
    font-size: 14px;
    font-weight: $regular-fontweight;
  }

  &__user-info {
    display: flex;
    justify-content: center;
  }

  .user-info-container {
    flex-basis: 92px;
    padding: 24px 0;
  }

  .number {
    margin-bottom: 4px;
    color: $very-dark-desaturated-blue;
    font-size: 18px;
    font-weight: $bold-fontweight;
  }

  .info {
    color: $dark-gray;
    font-size: 11px;
    font-weight: $regular-fontweight;
    letter-spacing: 1px;
  }
}

// * Footer Styling
.footer {
  display: none;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
